:root {
  --f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Ubuntu, Cantarell, sans-serif;
  --f-serif: "New York", "Iowan Old Style", Cambria, Georgia, "Times New Roman", serif;
  --f-body: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Ubuntu, Cantarell, sans-serif;
  --f-mono:
    "SF Mono", "Cascadia Code", "Cascadia Mono", "Fira Code", "DejaVu Sans Mono", Menlo, Consolas,
    monospace;
}
